@import "node_modules/@cells-components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  @apply --cells-ui-slide-menu-vcard;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;}

  .slide-menu {
    height: 100%;
    background: #f4f4f4;
    -webkit-transition: left 0.3s;
    /* For Safari 3.1 to 6.0 */
    transition: left 0.3s;
    -webkit-box-shadow: 1px 0px 1px 0px rgba(80, 79, 79, 0.75);
    -moz-box-shadow: 1px 0px 1px 0px rgba(80, 79, 79, 0.75);
    box-shadow: 1px 0px 1px 0px rgba(80, 79, 79, 0.75);
    position: fixed;
    z-index: 15;
    padding-top: 65px; 
    width:322px;
   }
  
   .showMenuLeft {
     left:0px;
   }
  
   .hideMenuLeft {
    left:-322px;
  }
  
   @media only screen and (max-width: 535px) {
    .slide-menu { 
      padding-top: 112px; 
    }
  }
  
  .item-opcion-menu {
    cursor: pointer;
    padding: 15px;
    border-bottom: 1px solid #e1e1e1;
    font-size: 0.85rem;
    color: #333;
    border-left: 2px solid #49A5E6;
    -webkit-transition: border-left 0.2s;
    /* For Safari 3.1 to 6.0 */
    transition: border-left 0.2s; }
  
  .item-opcion-menu:hover {
    border-left: 7px solid #49A5E6; }
  
  .item-opcion-exit {
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    cursor: pointer;
    padding: 15px;
    font-weight: bold;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    font-size: 0.85rem;
    color: #333;
    border-left: 2px solid #B92A45;
    -webkit-transition: border-left 0.2s;
    /* For Safari 3.1 to 6.0 */
    transition: border-left 0.2s; }
  
  .item-opcion-exit:hover {
    border-left: 7px solid #B92A45; }
  
  .opcion-salir {
    color: #B92A45; }
  
  .option-icon {
    margin-top: -2px;
    margin-right: 5px; }